@model MyPhotoDreamApp.Domain.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1 class="header-text-top">Вход</h1>

<hr />
<div class="row">
    <div class="c<a href=" c:\csharpprojects\myphotodreamapp\myphotodreamapp\views\account\login.cshtml">
        c:\csharpprojects\myphotodreamapp\myphotodreamapp\views\account\login.cshtml</a>ol-md-4">
        <div class="form">
            <form asp-action="Login" asp-controller="Account" asp-route-returnUrl="@Model.ReturnUrl">
                <div asp-validation-summary="All"></div>
                    <label>Номер телефона без +7 и 8</label>
                <p>
                    <input asp-for="PhoneNumber" placeholder="номер телефона" value="">
                </p>
                <p>
                    <input asp-for="Password" placeholder="пароль" value="">
                </p>
                <p>
                    <input type="submit" value="Отправить" />
                </p>
                <p class="message">Еще не зарегистрированы? <a asp-controller="Account" asp-action="Register">Регистрация</a></p>
            </form>
        </div>
    </div>
</div>
 