@model MyPhotoDreamApp.Domain.ViewModels.Account.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h1>Вход</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form">
            <form asp-action="Login" asp-controller="Account">
                <div asp-validation-summary="All"></div>
                <p>
                    <input asp-for="PhoneNumber" placeholder="номер телефона" value="1234567890">
                </p>
                <p>
                    <input asp-for="Password" placeholder="пароль" value="123456">
                </p>
                <p>
                    <input type="submit" value="Отправить" />
                </p>
                <p class="message">Еще не зарегистрированы? <a asp-controller="Account" asp-action="Register">Регистрация</a></p>
            </form>
        </div>
    </div>
</div>
