@import '_content/MyPhotoDreamApp.Domain/MyPhotoDreamApp.Domain.bundle.scp.css';

/* _content/MyPhotoDreamApp.DAL/Component1.razor.rz.scp.css */
.my-component[b-figjrimkm9] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
