@model Program

@{
    ViewData["Title"] = "Authentication";
}

<h1>Авторизация</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form">
            <form asp-action="Authentication" asp-controller="home" >
                <p>
                    <input type="text" placeholder="username">
                </p>
                <p>
                    <input type="password" placeholder="password">
                </p>
                <p>
                    <input type="submit" value="Войти" />
                </p>
                <p class="message">Еще не зарегистрированы? <a href="#">Регистрация</a></p>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


