@model MyPhotoDreamApp.ViewModels.UserViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["Title"] = "Registration";
    Layout = "_Layout";
 }


<h1>Регистрация</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="form">
            <form asp-action="Registration" asp-controller="home">
                <div asp-validation-summary="All"></div>
                <p>
                    <label asp-for="PhoneNumber"></label><br />
                    <input asp-for="PhoneNumber" type="PhoneNumber" placeholder="номер телефона">
                   
                </p>
                <p>
                    <label asp-for="Password"></label><br />
                    <input asp-for="Password" type="password" placeholder="пароль">
                    
                </p>
                <p>
                    <label asp-for="PasswordConfirm"></label><br />
                    <input asp-for="PasswordConfirm" type="password" placeholder="пароль еще раз">
                   
                </p>
                <p>
                    <input type="submit" value="Отправить" />
                </p>
                <p class="message">Уже зарегистрированы? <a asp-controller="Home" asp-action="Authentication">Войти</a></p>
            </form>
        </div>
    </div>
</div>


<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.5.1.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.10/jquery.validate.unobtrusive.min.js"></script>



