@model MyPhotoDreamApp.Domain.ViewModels.Home.ProductListViewModel

@{
    ViewData["Title"] = "Home";
}

<div class="container">
    <h1 class="header-text-top">On-line сервис фотопечати</h1>
    <div class="cards">
        @foreach(var item in Model.Products)
        {
            <div class="card">
                <div class="card__bottom">
                    <!-- Ссылка-название товара -->
                    <a href="#" class="card__title">@item.Name</a>
                    <!-- Цены на товар (с учетом скидки и без)-->
                    <div class="card__prices">
                        <!--<div class="card__price card__price--discount">10</div>-->
                        <div class="card__price card__price--discount">@item.Price</div>
                    </div>

                    <!-- Кнопка добавить в корзину -->
                    <form method="get" asp-controller="Order" asp-action="CreateOrder" asp-route-Id="@item.Id">
                        <input type="submit" class="card__add"  value="В корзину" />
                    </form>
  
     
                </div>
            </div>

        }
 
 
    </div>
</div>

